- var sliders = [{'img':'img/about/slider/1.png','text':'Попала в кафе совершенно случайно. Привлекла стойка с едой и интерьер. Зайдя в кафе была приятно удивлена большим списком меню. Очень бережное и открытое отношение к клиентам. Вкусный кофе и особенно удивило картошка фри без подсолнечного масла. С удовольствием буду посещать кафе во время обедов и завтраков. Скорость обслуживания и цены восхищают.','name':'Мария, 22 года'},{'img':'img/about/slider/1.png','text':'Попала в кафе совершенно случайно. Привлекла стойка с едой и интерьер. Зайдя в кафе была приятно удивлена большим списком меню. Очень бережное и открытое отношение к клиентам. Вкусный кофе и особенно удивило картошка фри без подсолнечного масла. С удовольствием буду посещать кафе во время обедов и завтраков. Скорость обслуживания и цены восхищают.','name':'Мария, 22 года'},{'img':'img/about/slider/1.png','text':'Попала в кафе совершенно случайно. Привлекла стойка с едой и интерьер. Зайдя в кафе была приятно удивлена большим списком меню. Очень бережное и открытое отношение к клиентам. Вкусный кофе и особенно удивило картошка фри без подсолнечного масла. С удовольствием буду посещать кафе во время обедов и завтраков. Скорость обслуживания и цены восхищают.','name':'Мария, 22 года'},{'img':'img/about/slider/1.png','text':'Попала в кафе совершенно случайно. Привлекла стойка с едой и интерьер. Зайдя в кафе была приятно удивлена большим списком меню. Очень бережное и открытое отношение к клиентам. Вкусный кофе и особенно удивило картошка фри без подсолнечного масла. С удовольствием буду посещать кафе во время обедов и завтраков. Скорость обслуживания и цены восхищают.','name':'Мария, 22 года'},{'img':'img/about/slider/1.png','text':'Попала в кафе совершенно случайно. Привлекла стойка с едой и интерьер. Зайдя в кафе была приятно удивлена большим списком меню. Очень бережное и открытое отношение к клиентам. Вкусный кофе и особенно удивило картошка фри без подсолнечного масла. С удовольствием буду посещать кафе во время обедов и завтраков. Скорость обслуживания и цены восхищают.','name':'Мария, 22 года'}]

section.about.about-feedback.section
  .about__wrapper
    h1.about__title Отзывы
    div#feedback-button.about__button Оставить отзыв
    div#da-slider.about__slider.da-slider
      each slider in sliders
        +slider(slider)
        nav.da-arrows
          span.da-arrows-prev
          span.da-arrows-next
    +form("Оставить отзыв","feedback")
  .about__down
    div.animation-scroll.animation-scroll--red-color
