section.about.about-info.section
  .about__wrapper
    h1.about-info__title Schlemmerland
    p.about-info__text Концепция предприятия быстрого питания от сладкого до сытного
  .about__down
    div.animation-scroll.animation-scroll--red-color
