section.main-familiarization.section
  div.main-familiarization__wrapper
    div.main-familiarization__logo
      img(src="img/home/logo.png" alt="logo")
    form.main-familiarization__form
      h1.main-familiarization__form-title Узнать подробнее о концепте 
        span Schlemmerland
      input.main-familiarization__form-email(name="email" type="text" title="Ваш email в формате ***@**.**" placeholder="Ваш email" required pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}$")
      button.main-familiarization__form-button(type="submit") Отправить
    div.animation-scroll
