
div#button-burg.main-navigation__toggle
nav.main-nav
  div.main-nav__wrapper
    section.main-nav__top
    ul.main-nav__list#menu
      li.main-nav__item
        a(href="/") Главная
      li.main-nav__item.main-nav__item--menu
        a(href="/menu") Меню
      li.main-nav__item.main-nav__item--about
        a(href="/about") О&nbsp;нас
      li.main-nav__item.main-nav__item--clients
        a(href="/clients") Клиенту
      li.main-nav__item.main-nav__item--contacts
        a(href="/contacts") Контакты
    section.main-nav__bottom
      a.main-nav__social.main-nav__social--fb(href="http://facebook.com") Мы&nbsp;в&nbsp;Facebook
