section.about-page.animated.slideInRight
  #pagepiling
    include ./blocks/about/about-info.jade
    include ./blocks/about/about-plus.jade
    include ./blocks/about/about-range.jade
    include ./blocks/about/about-equip.jade
    include ./blocks/about/about-person.jade
    include ./blocks/about/about-menu.jade
    include ./blocks/about/about-feedback.jade
