include ./blocks/mixins.jade

- var ingredients = [{'image':'img/menu-p/beverages/b1.png','name':'Спелые фрукты ','text':'Поставка спелых фруктов и продуктов для приготовления других напитков (чай, кофе, лимонад)'}]

- var product = {"src":"img/menu-p/beverages/card1.png","title":"Чай марокканский","text":"Горячий чай с мятой, лимоном, корицей и кардамоном"}
- var productTwo = {"src":"img/menu-p/beverages/card2.png","title":"Лимонад","text":"Классический лимонад с сочетанием вкуса и аромата соков апельсина и лимона"}

section.product.animated.slideInUp
  .product__wrapper
    .product-header
      h1.product__title Напитки
      p.product__text Чай, кофе, свежевыжитые соки из свежих продуктов.
    .product-main
      h1.product__title Для приготовления напитков необходимо
      for ingredient in ingredients
        +ingredient(ingredient)
      p.product__text С помощью обородувания от наших поставщиков и наших инструкций по приготовлению Вы получите не только вкусные напитки, но и продукт, который нравится потребителю.
      .product__button-wrap
        a.product__button(href="/clients") Узнать подробнее
    .product-price
      h1.product__title Некоторые наши блюда
      +product-card(product)
      +product-card(productTwo)
    .product-footer
      p.product__text Наши клиенты получают полный доступ к блюдам нашего концепта
      a.product__button(href="/contacts") Получить доступ
