- var receive = [{'image':'img/clients/1-c.gif','name':'Обследование','text':'Мы обследуем ваше здание или помещение. После этого предлагаем наиболее удобное и органомичное месторасположение.'},{'image':'img/clients/2-c.gif','name':'Продукты','text':'Получаете доступ к списку продуктов для приготовления, а также список поставщиков.'},{'image':'img/clients/3-c.gif','name':'Мебель','text':'Мебель для кафе не только удобная в с точки зрения использования, но и модульная, т.е. изменяется под любые габариты.'},{'image':'img/clients/4-c.gif','name':'Поставщики','text':'Мы даем Вам список надежных поставщиков техники для приготовления, хранения и эксплуатации продуктов питания.'},{'image':'img/clients/5-c.gif','name':'Маркетинговые решения','text':'Также бонусом для клиентов будет разработка сайта с SEO оптимизацией, офлайн и контекстная реклама.'},{'image':'img/clients/6-c.gif','name':'Бизнес-план','text':'Мы даем Вам список надежных поставщиков техники для приготовления, хранения и эксплуатации продуктов питания.'}];

- var benefits = [{'image':'img/clients/7-c.gif','name':'Меню','text':'Свежесть, качество, вкус готовой продукции. Наше меню состоит вкусных блюд из свежих и качественных продуктов. Вы сами можете убедиться в разнообразии. В связи с постоянной поставкой свежих продуктов и способом их приготовления мы добиваемся результата - свежесть, качество, цена.'},{'image':'img/clients/8-c.gif','name':'Обслуживание','text':'Персонал в связи с удобным и небольшим по габаритам современным оборудованием тратит меньше сил на приготовление и подачу, что вследствие улучшает условия труда для человека. Люди проходят наши специальные тренинги по улучшению качества обслуживания, эксплуатации оборудования.'},{'image':'img/clients/9-c.gif','name':'Специфические меню','text':'Вы часто замечаете, что в кафе постоянно лежат одни и те же блюда целый день. Это является большой ошибкой в сфере ресторанного бизнеса. Для этого у нас есть отличные варианты блюд для завтраков, обедов и ужинов. В определенное время блюда хранятся на видном месте, что увеличивает конверсию покупки.'}]

mixin receive(receiv,dev,imgdec,infdec)
  section.wrapper(class=dev)
    img.wrapper__image(src= receiv.image class= imgdec)
    div.wrapper__info(class= infdec)
      h1.wrapper__name= receiv.name
      p.wrapper__text= receiv.text


section.clients#clients
  section.clients-receive
    h1.clients-receive__title Наши клиенты получают
    div.main-wrapper
      for reciev in receive
        +receive(reciev,"decor","img-decor","info-dec")
  section.client-benefits
    h1.clients-receive__title Преимущества
    div.main-wrapper
      for benefi in benefits
        +receive(benefi)
  div.client-button
    a.client-button__menu(href="/menu") Посмотреть меню
      
