.about-equip
	&__wrapper
		display flex
		justify-content space-between
		padding 40px 20px
.equip
	width 22%
	text-align center
	
	&__image
		min-height 80px

	&__title
		font-size 18px
		font-family "GothamProMedium"
		font-weight 300
		
	&__text
		text-align left
		font-size 12px
		line-height 16px
		
+below(1024px)
	.about-equip
		display none