.about-menu
	height 100%
	overflow hidden
	background url('../img/about/menu/m2.png') no-repeat
	background-size 100%
	
	&__wrapper
		margin-top 30px
		
	&__left
		width 40%

	&__title
		font-size 18px
		font-family "GothamProMedium"
		font-weight 300
		
	&__text
		font-size 12px
		line-height 16px
		
	&__button
		margin-top 50px
		position relative
		z-index 50
	
	// &__right
	// 	margin-top 80px

+below(1024px)
	.about-menu
		display none