.animation-scroll
  width 45px
  height 75px
  margin 0 auto
  background url('../img/scroll/scroll-sprite.png') no-repeat -5px -5px
  animation scroll .7s steps(19) infinite
  +below(730px)
    background url('../img/scroll/scroll-mob.png') no-repeat center center
    animation none

@keyframes scroll
  from
    background-position -5px -5px
  to
    background-position -993px -5px
