.clients
  background-color #e8e8e8
  padding 50px

.clients-receive
  &__title
    margin 0
    font-size 30px
    font-family "GothamProMedium"
    font-weight 300
    margin-bottom 50px
.main-wrapper
  display flex
  flex-wrap wrap
  justify-content space-between
  .wrapper
    width 100%
    display flex
    justify-content space-between
    align-items flex-start
    margin-bottom 50px
    min-height 160px
    &__image
      width 14%
      display inline

    &__info
      width 80%

    &__name
      font-size 24px
      padding 0
      margin 0

    &__text
      font-size 18px

  .decor
    width 47%
    min-height 220px

  .img-decor
    width 30%

  .info-dec
    width 55%

.client-button
  width 320px
  border-radius 30px
  background-color #fff
  text-align center
  transition all .3s ease

  &__menu
    display inline-block
    // position relative
    width 100%
    padding 15px
    text-decoration none
    color #cc3333
    font-size 18px
    font-weight bold

    &:before
      content ''
      display inline-block
      vertical-align middle
      width 30px
      height 30px
      margin-right 20px
      background url('../img/clients/btn.png') no-repeat center center

  &:hover
    background-color #cc3333

    .client-button__menu
      color #fff

      &:before
        background url('../img/clients/btn-h.png') no-repeat center center


+below(760px)
  .main-wrapper
    display block
    .wrapper
      display block
      &__info
        width 100%
      &__image
        width 35%

    .decor
      width 100%
    .info-dec
      width 100%

+below(500px)
  .clients-receive
    &__title
      font-size 24px

+below(420px)
  .clients-receive
    &__title
      font-size 18px
  .clients
    padding 25px 18px
  .main-wrapper
    .wrapper
      &__name
        font-size 18px
      &__text
        font-size 14px
  .client-button
    width 280px
    margin 0 auto
