html,
body
  font-family "GothamProLight"
  font-size 16px
  height 100%

*
  box-sizing border-box

.main-wrapper
  height 100%
  position relative
  // overflow-y scroll

.content
  margin-right 50px
  position relative
  height 100%
  overflow auto
  transition margin-right .4s ease

  +below(730px)
    margin-right 0

.main-navigation
  width 50px
  float right
  transition width .4s ease
  &:hover
    width 300px

    + .content
        margin-right 300px

  .button-burg
    width 50px
    height 50px
    right 20px
    top 20px
    cursor pointer
    background url('../img/menu/burger.svg') no-repeat center center
    position absolute
    z-index 120
    display none
    cursor pointer

  +below(730px)
    width 100px
    float none

    .button-burg
      display block

.main-navigation
  +below(730px)
      &:hover
        width 0
        + .content
            margin-right 0
