html,
body
  font-family "GothamProLight"
  font-size 16px
  height 100%

*
  box-sizing border-box

.main-wrapper
  height 100%
  position relative
  // overflow-y scroll

.content
  margin-right 100px
  position relative
  height 100%
  overflow auto
  transition margin-right .4s ease

  +below(730px)
    margin-right 0

.main-navigation
  width 100px
  float right
  transition width .4s ease
  &:hover
    width 300px

    + .content
        margin-right 300px

.main-navigation__toggle
    position absolute
    width 50px
    height 50px
    right 0
    top 5px
    cursor pointer
    z-index 120
    display none
    cursor pointer

  +below(730px)
    width 100px
    float none

    .main-navigation__toggle
      display block

.main-navigation--closed .main-navigation__toggle::before
  content ''
  position absolute
  top 10px
  width 36px
  height 2px

  background-color #a11717
  box-shadow 0 10px 0 0 #a11717,
              0 20px 0 0 #a11717

.main-navigation--opened
  .main-navigation__toggle
    top 15px

    &:before,
    &:after
      content ''
      position absolute
      top 10px
      width 36px
      height 2px

      background-color #a11717

    &:before
      transform rotate(45deg)
      box-shadow none

    &:after
      transform rotate(-45deg)
  .main-nav
    width 250px

.main-navigation
  +below(730px)
      &:hover
        width 0
        + .content
            margin-right 0
