.main-nav
  width 300px
  position fixed
  height 100%
  right 0
  z-index 100
  background-color #fff
  // overflow-y auto

  &__wrapper
    width 100%
    display flex
    flex-direction column
    justify-content space-around
    height 100%

  &__header
    padding 0px 0

  &__list
    padding 0
    margin 0
    list-style none

  &__item
    font-size 18px
    position relative
    transition all .2s ease
    margin-bottom 32px

    &:hover
      background-color #cc3333

      a
        color #fff

      // &:before
      //   border 1px solid #fff

    &:before
      content ''
      display inline-block
      position absolute
      width 35px
      height 35px
      top 30px
      left 50px
      // background url('../img/menu/menu-sprite.svg') no-repeat

    a
      position relative
      z-index 1
      display block
      width 100%
      padding 37px 0 37px 125px
      color #000
      transition color .1s ease
      text-decoration none

  &__item--menu
    &:hover
      &:before
        background url('../img/menu/menu-w.svg') no-repeat center center
    &:before
      background url('../img/menu/menu-r.svg') no-repeat center center

  &__item--about
    &:hover
      &:before
        background url('../img/menu/about-w.svg') no-repeat center center
    &:before
      background url('../img/menu/about-r.svg') no-repeat center center

  &__item--client
    &:hover
      &:before
        background url('../img/menu/client-w.svg') no-repeat center center
    &:before
      background url('../img/menu/client-r.svg') no-repeat center center

  &__item--contact
    margin-bottom 0
    &:hover
      &:before
        background url('../img/menu/cont-w.svg') no-repeat center center
    &:before
      background url('../img/menu/cont-r.svg') no-repeat center center

  &__social
    display block
    width 30px
    float right
    margin-right 40px
    font 0/0 serif

    &:before
      content ''
      display inline-block
      width 30px
      height 30px

  &__social--fb
    &:before
      background url('../img/menu/facebook.png') no-repeat center center


.main-nav
  +below(730px)
    display none
    width 250px

    &__header
      display none

    &__item
      margin-bottom 0px

  &__social
    +below(730px)
      float none
      margin 0 auto

.open
  display block
