.main-nav
  width 50px
  position fixed
  height 100%
  right 0
  z-index 100
  background-color #fff
  transition width .4s ease
  // border 1px solid red
  // overflow-y auto
  &:hover
    width 300px

    .main-nav__item
      &:before
        left 30px

  &__wrapper
    width 100%
    display flex
    flex-direction column
    justify-content space-around
    height 100%

  &__header
    padding 0

  &__list
    padding 0
    margin 0
    list-style none
    overflow hidden

  &__item
    font-size 18px
    position relative
    transition all .2s ease
    margin-bottom 32px

    &:hover
      background-color #cc3333

      a
        color #fff

      // &:before
      //   border 1px solid #fff

    &:before
      content ''
      display inline-block
      position absolute
      width 35px
      height 35px
      top 30px
      left 6px
      transition left .4s ease
      // background url('../img/menu/menu-sprite.svg') no-repeat

    a
      position relative
      z-index 1
      display block
      width 100%
      padding 40px
      padding-left 120px
      color #000
      transition color .1s ease
      text-decoration none

  &__item--menu
    &:hover
      &:before
        background url('../img/menu/menu-w.svg') no-repeat center center
    &:before
      background url('../img/menu/menu-r.svg') no-repeat center center

  &__item--about
    &:hover
      &:before
        background url('../img/menu/about-w.svg') no-repeat center center
    &:before
      background url('../img/menu/about-r.svg') no-repeat center center

  &__item--client
    &:hover
      &:before
        background url('../img/menu/client-w.svg') no-repeat center center
    &:before
      background url('../img/menu/client-r.svg') no-repeat center center

  &__item--contact
    margin-bottom 0
    &:hover
      &:before
        background url('../img/menu/cont-w.svg') no-repeat center center
    &:before
      background url('../img/menu/cont-r.svg') no-repeat center center

  &__social
    display block
    width 30px
    // float right
    margin 0 auto
    font 0/0 serif

    &:before
      content ''
      display inline-block
      width 30px
      height 30px

  &__social--fb
    &:before
      background url('../img/menu/facebook.png') no-repeat center center


.main-nav
  +below(730px)
    display none
    width 40px

    &:hover
      width 250px

    &__header
      display none

    &__item
      margin-bottom 0px
      &:before
        left 0

  &__social
    +below(730px)
      margin 0 auto

.open
  display block
