/*clear*/
@import "../../bower_components/normalize.styl/normalize.styl";

/*fonts*/
@import "./fonts/fonts";

@import "./rupture/index"

/*gloabal*/
@import "./blocks/gloabal";

@import "../../bower_components/animate.css/animate.css"
@import "../../bower_components/pagePiling.js/jquery.pagepiling.css"



/*blocks*/

/*main-menu*/
@import "./blocks/main-nav";
/*main-page*/
@import "./blocks/animation-scroll";
@import "./blocks/main-familiarization";
@import "./blocks/main-information";
/*---*/
@import "./blocks/contacts-page";

@import "./blocks/clients";
/*about-page*/
@import "./blocks/about";
@import "./blocks/about-info";
@import "./slider/slider.css"
@import "./accord/accord.css";
@import "./blocks/about-form";
