/*clear*/
@import "../../bower_components/normalize.styl/normalize.styl";

/*fonts*/
@import "./fonts/fonts";

@import "./rupture/index"

/*gloabal*/
@import "./blocks/gloabal";

@import "../../bower_components/pagePiling.js/jquery.pagepiling.css"


/*БЭМ blocks*/
@import "./blocks/main-nav";
@import "./blocks/animation-scroll";
@import "./blocks/page-home";
@import "./blocks/page-home-second";
