section.about.about-range.section
	.about__wrapper.about__wrapper--nopadding
		h1.about__title Ассортимент
		p Организационно-экономическая характеристика и анализ ассортимента продукции кафе
		.about-range__wrapper
			.about-range__left
				h2.about-range__title Анализ
				p.about-range__text Характеристика предприятия общественного питания и контингента питающихся. Определение количества потребителей и блюд. Основы составления расчетного меню. Разработка схем технологического процесса приготовления
				h2.about-range__title «Рисуем портрет клиента»
				p.about-range__text  Описание расположения кафе, характеристика основных групп потребителей и ассортимента предлагаемой продукции. Система управления персоналом кафе. Составление плана производственного помещения. Экономический и финансовый потенциал.
				h2.about-range__title Акцент на покупаемость
				p.about-range__text  Создание необходимых условий для удовлетворения потребностей людей в полноценном питании по месту работы, учебы, жительства и отдыха, повышения качества обслуживания и предоставления дополнительных услуг предприятиями общественного питания
			//- .about-range__right
			//- 	img(src="img/about/range/r1.png")
	.about__down 
		div.animation-scroll.animation-scroll--red-color