include ../mixins.jade

-var equips = [{"image":"img/about/equip/e1.png","title":"Проектирование","text":"Определяемся с вопросами по поводу формата заведения (где и в каком месте будет находиться), количество мест для людей, производительность и меню."},{"image":"img/about/equip/e2.png","title":"Установка","text":"Качественная установка оборудования в необходимом месте специалистами высокого уровня.Комплексное оснащение объектов любой сложности."},{"image":"img/about/equip/e3.png","title":"Обслуживание","text":"Доставку, монтаж и пусконаладка. Занимаемся техническим обслуживанием оборудования и заботимся о том, чтобы Вы всегда были готовы для работы – днем и ночью"},{"image":"img/about/equip/e4.png","title":"Гарантия","text":"Двойная гарантия от компании и от произоводителя оборудования по всей стране (несколько мобильных бригад квалифицированных техников, регулярно повышающих квалификацию на европейских технических тренингах)"}]

section.about.about-equip.section
	.about__wrapper
		h1.about__title Оборудование
		p После анализа ассортимента, мы осуществляем комлекс работ для успешной работы оборудования
		.about-equip__wrapper
			each equip in equips
				+equip(equip)
	.about__down 
		div.animation-scroll.animation-scroll--red-color