section.about.about-menu.section
	.about__wrapper
		h1.about__title Меню
		p Слово "меню" происходит от французского "menu" и означает расписание блюд и напитков на завтрак, обед и ужин.
		.about-menu__wrapper
			.about-menu__left
				h2.about-menu__title Состав меню
				p.about-menu__text При составлении меню учитываются тип предприятия, ассортиментный минимум блюд, особенности обслуживаемого контингента, мощность предприятия, наличие сырья и продуктов, сезонность, время обслуживания (завтрак, обед, ужин), квалификационный состав поваров, оснащение необходимым оборудованием, посудой, инвентарем, трудоемкость блюд и кулинарных изделий.
				h2.about-menu__title Разработка
				p.about-menu__text Прежде чем приступать к концептуальной разработке меню, необходимо проанализировать ситуацию в районе, где расположено предприятие. Нужно выяснить, какую кухню предлагают потребителям конкуренты. Это исключит риск повторяемости направленности кухни (особенно, если речь идёт о национальном ресторане). Подобный анализ следует проводить перед каждым изменением меню.
				div.about-menu__button.client-button
					a.client-button__menu(href="/menu") Посмотреть меню
			//- .about-menu__right
			//- 	img(src="img/about/menu/m1.png")
	.about__down 
		div.animation-scroll.animation-scroll--red-color